<h1> All Groups </h1>

<input ng-model="search" placeholder="search all groups"/>

<div ng-repeat="group in groups | filter:search">
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>{{group.groupname}}</h2> 
                </div>
                <div class="panel-body">
                    
                    <label class="groupListLabel">Group Members:</label>
                    <div ng-repeat="user in group.users">
                        <ul>
                            <li class="groupListItem">@{{user.username}}</li>
                        </ul>
                    </div>
                    <br />
                    <label>Total Questions Posted to {{group.groupname}}: {{group.questions.length}}</label><br />
                      <a ng-click="makeNewGroupMemebership(group.id)" class="btn btn-primary">JOIN GROUP</a>
                </div>
            </div> 
              
        </div>
    </div>
</div>