<h1> All Groups </h1>

<a ng-click="getGroups()" class="btn btn-primary">get all groups</a>

<div ng-repeat="group in groups">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{group.groupname }} || <a ng-click="joinClick(group.groupname)" class="btn btn-primary">JOIN GROUP</a> </h3> 
                </div>
                <div class="panel-body"> {{group.members}}
                </div>
            </div> 
              
        </div>
    </div>
</div>