<h1> All Groups </h1>

<input ng-model="search" placeholder="search all groups"/>

<div ng-repeat="group in groups | filter:search">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{group.groupname }} || <a ng-click="makeNewGroupMemebership(group.id)" class="btn btn-primary">JOIN GROUP</a> </h3> 
                </div>
                <div class="panel-body"> {{group.members}}
                </div>
            </div> 
              
        </div>
    </div>
</div>