<h1>My Groups</h1>

<div ng-repeat="group in myGroups">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input ng-click="checkClick(group.id)" type="checkbox" aria-label="..."> {{ group.groupname}}
                  </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
       
        </div>
    </div>

<a ng-click="postClick()" class="btn btn-primary">POST</a>