<h1>Hello {{name}}</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Ask A New Question: {{ newQuestion }}</h4>
        <div ng-controller="questionsController" class="form-group">
            <input type="text" ng-model="newQuestion" class="form-control" />
            
            <div class="dropdown" ng-controller="groupController">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Groups
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <div ng-repeat="group in myGroups">
                      <input ng-click="checkClick(group.id)" type="checkbox" aria-label="..."> {{ group.groupname}}
                  </div>
                  
               <!--   <div ng-controller="questionsController" ng-model="newQuestion">
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="makeNewQuestion(newQuestion)" class="btn btn-primary">POST "{{newQuestion}}" to Selected Groups</a></li>
                  </div> -->
                  
              </ul>
            </div>
             
            <a ng-click="makeNewQuestion(newQuestion)" class="btn btn-primary">POST "{{newQuestion}}" to Selected Groups</a>
            
        </div>
        
        
    <!--    <a ui-sref="home.myGroups" class="btn btn-primary">Post To Group/s</a> -->
        
        <a ui-sref="home.questions" class="btn btn-primary">Answer Questions</a>
        
        <a ui-sref="home.allGroups" class="btn btn-primary"> See All Groups</a>

        <a ui-sref="home.newGroup" class="btn btn-primary">Create A New Group</a>
    </div>
    
    <div ui-view></div>
    
</div>