<h1>Hello {{name}}</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Ask A New Question: {{ newQuestion }}</h4>
        <div ng-controller="questionsController" class="form-group">
            <input type="text" ng-model="newQuestion" class="form-control" />
            <a ng-click="makeNewQuestion(newQuestion)" class="btn btn-primary">Create Question {{newQuestion}}</a>
        </div>
        <a ui-sref="home.myGroups" class="btn btn-primary">Post To Group/s</a>
        
        <a ui-sref="home.questions" class="btn btn-primary">Answer Questions</a>
        
        <a ui-sref="home.allGroups" class="btn btn-primary"> See All Groups</a>

        <a ui-sref="home.newGroup" class="btn btn-primary">Create A New Group</a>
    </div>
    
    <div ui-view></div>
    
</div>