<h1>ANSWERS AND STATS FOR YOUR QUESTIONS</h1>

<div ng-repeat="question in askedQuestions | orderBy: 'created_at':true">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                        <label>Question</label>
                        <h2>{{question.query }}</h2>
                        <hr />
                        <label>Was Posted to Groups:</label>
                        <div ng-repeat="group in question.groups">
                            <li class="groupListItem">{{group.groupname}}</li>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <label>Answers</label>
                            <h3>{{question | questionStatsFilter}}</h3>   
                            <hr />
                            <label>Comment History</label>
                            <div ng-repeat="comment in question.comments">
                                <li>{{comment.comment}} - {{comment.created_at | date:'MM/dd/yyyy @ h:mma' }}</li>
                            </div>
                        </ul>
                    </div>
                </div> 
               
            </div>
        </div>
    </div>