<h1>ANSWERS AND STATS FOR YOUR QUESTIONS</h1>

<div ng-repeat="question in askedQuestions">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>Question</label>
                        <h3 class="panel-title">{{question.query }}</h3>
                        <hr />
                        <label>Was Posted to Groups:</label>
                        <div ng-repeat="group in question.groups">
                            <li class="groupList">{{group.groupname}}</li>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <label>Answers</label>
                             <a ng-click="getQuestionStats(question.answers)" class="btn btn-primary">STATS</a>
                            
                            <label ng-model="stats"></label>
                            
                            <div ng-repeat="answer in question.answers">
                                <li>{{answer.input}}</li>
                            </div>
                            <hr />
                            <label>Comment History</label>
                            <div ng-repeat="comment in question.comments">
                                <li>{{comment.comment}} - {{comment.created_at | date:'MM/dd/yyyy @ h:mma' }}</li>
                            </div>
                        </ul>
                    </div>
                </div> 
               
            </div>
        </div>
    </div>